.botton1 {
    position: relative;
    top: 0px;
    bottom: 50px;
    right:-230px;
    top: -35px;
    
}
.botton2 {
    position: relative;
    top: 0px;
    top: -14px;
    right:-886px;
    
    
}
.tituloregistro {
    position: relative;
    top: 0px;
    top: 8px;
    rihgt:-110px;
}


    